.hero {
    color: #fff;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;



    .hero__top {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .title {
            font-size: 4rem;
            max-width: 30rem;
            margin-bottom: 3rem;


            @media(max-width: 768px) {
                font-size: 2rem;
                text-align: center;
            }
        }

        .main {
            font-size: 23px;
            font-weight: 400;


            @media(max-width: 768px) {
                font-size: 18px;
                text-align: center;
            }

        }

        @media(max-width: 768px) {
            justify-content: center;
            align-items: center;
        }
    }



    .hero__underline {
        width: 100%;
        border: 0.2px solid rgba(255, 255, 255, 0.5);
        margin: 4rem 0;


        @media(max-width: 768px) {
            display: none;
        }

    }


    @media(max-width: 768px) {
        justify-content: center;
        align-items: center;
    }

}

.hero__btns {
    display: flex;
    align-items: center;
    margin-top: 5rem;

    .btn {
        padding: 1.2rem 2rem;
        background: grey;
        border: none;
        outline: none;
        border-radius: .6rem;
        font-size: 16px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: .4rem;

    }

    .hero__btn-1 {
        margin-right: .6rem;
        background: rgb(185, 140, 94);
        transition: .5s all ease-out;

        &:hover {
            background: grey;
        }
    }

    @media(max-width: 768px) {
        flex-direction: column;
        padding-bottom: 4rem;
    }
}

.hero__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    width: 100%;
}

.hero__bottom-items {
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
    cursor: pointer;


    .hero__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        background-color: rgb(180, 141, 102);
        font-size: 18px;
        margin-right: 1.2rem;
    }

    .hero__name {
        font-size: 23px;
        font-weight: bolder;
    }


    @media(max-width: 768px) {
        display: none;
    }
}